$green: rgb(81, 175, 51);
$darkgreen: rgb(67, 142, 41);
$border-grey:  #DCE0E6;
$text-grey: rgb(179, 165, 165);
$border: 1px solid $border-grey;
$background-grey: rgb(249, 250, 251);
$form-background: #F9FAFB;

