.confirm-task-container{
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    background: $form-background;
    height: 100vh;
    // position: relative;

    .header{
        padding: 15px;
        font-size: 24px;
        // position: absolute;
        // margin-bottom: 40px;
    }
    .subheader{
        padding: 15px;
    }
}


.confirm-task-form{
    width: 500px;
    height: auto;
    border: $border;
    background: white;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-content: space-between;
    flex-direction: column;

    .title{
        display: flex;
        justify-content: space-between;
        padding: 10px 5px;
        align-items: center;

        .price{
            margin-right: 30px;
        }

        .type{
            padding-bottom: 3px;
            font-weight: bold;
            font-size: 24px;
            margin-left:-5px;
        }
    }

    .details{
        display: flex;
        // justify-content: space-between;
        flex-direction: column;

        .time-date-tasker{
            display: flex;
            justify-content: space-between;
            align-content: center;
            height: 130px;

            .tasker{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                border: none;
                height: 100%;

                img{
                    width: 90px;
                    height: 90px;
                    object-fit: cover;
                    margin-top: 10px;
                    border: $border;
                    border-radius: 30%;
                    }

                .name{
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    div{
                        font-weight: bold;
                    }
                }
            }
        }

        .text{
            width:100%;
            height:auto;
            word-break:break-all;
        }

        .date-time .mini {
            border-bottom: 1px solid $green;
            padding-bottom: 5px;
        }

        .date {
            padding-top: 5px; 
        }

        .mini{
            padding-bottom: 3px;
            font-weight: bold;
            font-size: 16px;
        }

        .location, .vehicle, .description {
                padding-bottom: 10px;
                padding-top: 10px;
                border-bottom: 1px solid $green;
            }

        .edit{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // color: $green;
            .link{
                color: $green;
                font-size: 12px;
                padding: 5px;
            }
            button, div {
                margin-top: 5px;
            }
            
            div{
                font-size: 12px;
            }
        }
    }
}