.no-task{
    img{
        opacity: .7;
    }
}

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $background-grey;
    height: 100%;

    .no-tasks{
        padding: 10px;
        color: $green;
        font-size: 20px;
    }

    .search-stuff{
        padding: 15px;
        font-size: 24px;
    }

    .search-box{
        background: white;
    }

    .header{
        display: flex;
        justify-content: space-between;
        height: 100px;
        width: 500px;
        margin-top: 20px;

        img{
            border-radius: 100%;
            width: 100px;
            object-fit: cover;
        }

        .greeting{
            font-size: 25px;
            padding: 30px;
            
            div{
                padding: 5px;
            }
        }
    }
}

.user-task-index-container>div{
    padding: 20px;
    font-size: 20px;
    color: $green;
}
.user-task-index-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .user-task-list{
        display: flex;
        flex-direction: column-reverse;
        width: 800px;;
    }

    .task-item:hover{
        box-shadow: 1px 1px 6px 2px $border-grey;
    }

    .task-item{
        margin-bottom: 20px;
        width: 100%;
        height: 30%;
        border: $border;
        display: flex;
        flex-direction: column;
        border-radius: 3px;
        padding: 10px;
        background: white;
        // align-items: center;
        .status{
            font-size: 18px;
        }

        .title{
            font-size: 16px;
            font-weight:bold;
            padding-bottom: 10px;
        }

        .type-tasker{
            display:flex;
            justify-content: space-between;
            max-height: 100px;

            .type{
                font-size: 24px;
                font-weight: bold;
            }

            .tasker{
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 100%;
                border: none;
                // box-shadow: 1px 1px 6px 2px $border-grey;
                border-radius: 30%;

                img{
                    object-fit:cover;
                    width: 85px;
                    height: 85px;
                    border-radius: 20%;
                }

                .name{
                    font-weight: bold;
                    // box-shadow: 1px 1px 8px 6px $border-grey;
                }
            }

            .status{
                display: flex;
                flex-direction: column;
            }
        }

        .status, .datetime, .location-details, .description, .vehicle{
            margin-bottom: 20px;
            border-bottom: $border;
            padding: 5px;
            word-break:break-all;
        }

        .cancel {
            margin: auto;
        }
    }

}