.footer-container{
    height: 100px;
    background: rgb(103, 114, 126);
    display: flex;
    justify-content: center;
    opacity: .95;

    .footer{
        display: flex;
        justify-content: space-between;
        width: 75%;
        max-width: 1100px;
        min-width: 900px;
        color: rgb(177, 185, 195);

        .sm-links{
            display: flex;
            
            margin-top: 10px;
            align-content: center;
            padding-bottom: 10px;
            padding-top: 10px;
            
            span{
                padding-right: 5px;
                font-size: 16px;
                
;
            }

            .sm{
                display: flex;
                justify-content: space-around;
                color: white;
                // width: 75px;

                i{
                    font-size: 18px;
                    padding: 0 5px 0 5px;
                }
            }
        }

        .labbits{
            padding-top: 20px;
            a{
                font-size: 16px;
            }
        }
    }
}