.header-group{
    width: 100%;
}
.navBar {
    border-bottom: 1px solid $border-grey;
    width: 100%;
}

.navBar-big {
    border-bottom: 1px solid $border-grey;
}

.nav-button{
    padding: 5px;
    color: $green;
    margin-top: 10px;
    font-size: 12px;
}

.nav-button-link {
    font-size: 12px;
}

.navBar-small{
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 1000px;
    margin: auto;
}

.navBar-buttons {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.navBar-logo {
    width: 150px;
    height: 50px;
    object-fit: cover;
    cursor: pointer;
}



.header-login {
    display:flex;
    justify-content: space-around;
    width: 275px;
    height: auto;
    
    img {
        border-radius: 100%;
        width: 50px;
        object-fit: cover;
        cursor: pointer;
    }

    .header-name {
        color: $green;
        padding-top: 15px;
        // margin-right: -10px;
    }

    button{
        // margin-top: 0;
        // padding-: 0;
        border-radius: 5px;
        border: 1px solid $green;
        height: 20px;
        width: 70px;
        text-align: center;
    }

}

// .user-picture {
//     height: 50px;
//     width: 500px;
// }
