$green: rgb(81, 175, 51);
$darkgreen: rgb(67, 142, 41);
$border-grey:  #DCE0E6;
$text-grey: rgb(179, 165, 165);
$background-grey: rgb(249, 250, 251);

.splash-main {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    height: 1300px;
}

.splash-head-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    height: 500px;;
    background-image: url('https://i.imgur.com/5SZRejd.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    border: 1px solid $border-grey;
    border-top: none;
}

.main-title {
    font-size: 30px;
    width: 600px;
    text-align: center;
    vertical-align: baseline;
    letter-spacing: normal;
    word-spacing: 0px;
    font-style: normal;
    font-weight: 100;
}

.main-subtitle {
    margin-top: 20px;
    font-weight: 100;
    color: $text-grey;
    text-align: center;
}

.main-search-container {
    border: 1px solid $border-grey;
    width: 450px;
    border-radius: 5px;
    margin-top: 20px;
    height: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.search {
    color: $text-grey;
    letter-spacing: 1px;
    line-height: 24px;
    width: 400px;
}

.fa-search {
    color: $green;
}

.main-search-container i {
    margin-top: 4px;
    width: 25px;
    height: 25px;
}

.main-buttons-container {
    max-width: 655px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.task-button {
    // display: inline-block;
    float: left;
    padding: 10px;
    border: 1px solid $green;
    border-radius: 5px;
    font-size: 12px;
    color: $green;
    width: 150px;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
}

.main-between-text {
    padding: 50px;
    font-size: 30px;
    text-align: center;
    vertical-align: baseline;
    letter-spacing: normal;
    word-spacing: 0px;
    font-style: normal;
    font-weight: 100;
}

.splash-body-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 45vw;
    height: 500px;;
}

.splash-body-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
}

.splash-body-buttons-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    margin-top: 20px;
}

.splash-body-top-image {
    background-image: url('https://i.imgur.com/K31cZkR.jpg');
    width: 75%;
    height: 275px;
    background-size: cover;
    background-position-y: -150px;
    background-repeat: no-repeat;
    // border: 1px solid $border-grey;
    margin-right: 10px;
    box-shadow: 0.1px 0.1px 9px -1.8px #DCE0E6;
    border-radius: 5px;
}

.splash-body-button-top {
    height: 275px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #f9fafb;
    padding: 10px;
    box-sizing: border-box;
    // border: 1px solid grey;
}

.splash-body-button-top div {
    margin-bottom: 15px;
    text-align: center;
    font-size: 19px;
    line-height: 30px;
}

.splash-body-bottom{
    margin-top: 60px;
    height: 324px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #f9fafb;
    box-sizing: border-box;
    // border: 1px solid grey;

}

.splash-body-bottom div {
    margin-bottom: 20px;
}


.bottom-button {
    float: left;
    padding: 8px;
    padding-right: 6px;
    padding-left: 6px;
    border: 1px solid $green;
    box-shadow: $border-grey;
    border-radius: 2px;
    font-size: 11px;
    color: white;
    background: $green;
    width: 120px;
    text-align: center;
    // margin-left: 5px;
    // margin-right: 5px;
    letter-spacing: .5px;
}

.bottom-button-tb{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.above-text{
    font-size:16px;
}

.splash-body-bottom-image-1{
    // padding-top: 40px;
    // // display: flex;
    // box-sizing: border-box;
    background-image: url('https://i.imgur.com/16pSOAQ.jpg');
    background-size: cover;
    width: 258px;
    height: 175px;
}
.splash-body-bottom-image-3{
    background-image: url('https://i.imgur.com/vYn7U6E.jpg');
    background-size: cover;
    width: 258px;
    height: 175px;
}
.splash-body-bottom-image-2{
    background-image: url('https://i.imgur.com/rB1uJBO.jpg');
    background-size: cover;
    width: 258px;
    height: 175px;
}